<md-list-item class="">
    <md-button href="#!/users/{{$ctrl.user.id }}" class="md-list-item-text" layout="column" flex="100%">

        <h4>
            {{$ctrl.user.name | uppercase }}
        </h4>

    </md-button>
</md-list-item>